@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

html, body {
    margin: 0;
    padding: 0;
    background-image: 
    radial-gradient(closest-side at 25% 25%,#F9E595 80%,#0000 81%),
    radial-gradient(closest-side at 75% 75%,#F9E595 80%,#0000 81%);
    background-size: 400px 400px;

    animation: pan 180s linear infinite;
    background-color: #FECE5E;
}

.card {
  align-content: center;
  background-color: #f5cd84;
  border-radius: 20px;
  border-color: #fff;
  width: 40vw;
  height: 15vw;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 2%;
}

.card-title {
  font-family: 'verdana';
  text-align: center;
  font-size: 1.5vw;
}

.card-content {
  font-family: 'verdana';
  font-size: 1vw;
}

#card-0 {
  text-align: left;
  padding-left: 10%;
}

#card-1 {
  text-align: center;
}

#card-2 {
  padding-left: 10%;
  padding-right:  10%;
}

#card-3 {
  text-align: center;
  width: 40vw;
  height: 50vw;
}


.large-container {
  background-image: url('public/background.png');
  background-color: #f7f2c8;
  display: flex;
  height: 90vh;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
              25px 35px 20px rgba(0,0,0,0.05),
              25px 20px 20px rgba(0,0,0,0.05),
              inset 0px 1vw 3vw rgba(255,255,255,0.9);
}

canvas {
  margin: auto;
  display: block;
  top: 0;
  border-radius: 20px;
}

.small-container {
  display: flex;
  width: 10vw;
  height: 10vw;
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
              25px 35px 20px rgba(0,0,0,0.05),
              25px 20px 20px rgba(0,0,0,0.05),
              inset 0px 1vw 3vw rgba(255,255,255,0.9);
  border-radius: 50%;
  margin: 10% auto;
  justify-content: center;
  align-items: center;
}

#score, #next-fruit {
  font-family: 'verdana';
  color: white;
}

#next-fruit-sprite {
  width: 25%;
  height: 25%;
}

#color-0 {
  background-color: #FFE3AC;
}

#color-1 {
  background-color: #FFCF9A;
}

#color-2 {
  background-color: #FFB897;
}

video {
  width: 20vw;
  height: 15vw;
}

.footer {
  padding: 50px;
}

.button-git {
  position: relative;
  background-color: #FFB897;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button-link {
  position: relative;
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button-git:hover{
  background-color: #fff;
  color: var(--clr);
}

.button-link:hover{
  background-color: #fff;
  color: var(--clr);
}
