@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    animation: pan 180s linear infinite;
    background-color: #F8ECE1;
}

.card {
  text-align: center;
  background-color: #f5cd84;
  border-radius: 20px;
  width: 40vw;
  height: 20vh;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.card-title {
  font-family: 'verdana';
}

.card-content {
  font-family: 'verdana';
  text-align: left;
  font-size: 1vw;
}


.large-container {
  background-image: url('public/background.png');
  background-color: #f7f2c8;
  display: flex;
  height: 90vh;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

canvas {
  margin: auto;
  display: block;
  top: 0;
  border-radius: 20px;
}

.small-container {
  display: flex;
  width: 10vw;
  height: 10vw;
  background-color: red;
  border-radius: 50%;
  margin: 10% auto;
  justify-content: center;
  align-items: center;
}


.circle-container {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

#color-0 {
  background-color: #FFE3AC;
}

#color-1 {
  background-color: #FFCF9A;
}

#color-2 {
  background-color: #FFB897;
}

